{% extends 'blog/base.html' %}

{% block main_block %}

{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}

<!--post-creater-->
<div class="card post-creater">
    <div class="container-fluid post-creater-body">
        <input class="form-control form-control-lg text-input-form" type="text" placeholder="分享点什么吧">
    </div>
    <div class="container post-creater-attach">
        <button class="btn btn-link"><i class="fas fa-camera-retro"></i>
            图片
        </button>
        <button class="btn btn-link"><i class="fas fa-tags"></i>
            分享到主题
        </button>
        <div class="btn btn-primary post-button">发布</div>
    </div>
</div>
<!--recent article list-->
{% for post in post_list %}
<div class="card article-card">
    <!--<img src="https://dummyimage.com/600x400/000/fff" alt="article-img" class="card-img-left">-->
    <div class="card-body">
        <h4 class="card-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h4>
        <p class="card-text">{{ post.excerpt }}</p>
        <div class="read-more">
            <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
        </div>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-link text-muted"><i class="fas fa-tags"></i>
            <a href="{% url 'category' post.category.pk %}">{{ post.category }}</a>
        </button>
        <button class="btn btn-link text-muted"><i class="fas fa-user"></i>
            <a href="#">{{ post.author }}</a>
        </button>
        <button class="btn btn-link text-muted"><i class="fas fa-comments"></i>
            <a href="#">{{ post.comment_set.count }}</a>
        </button>
        <button class="btn btn-link text-muted"><i class="fas fa-glasses"></i>
            <a href="">{{ post.views }}</a>
        </button>
        <!--{% for tag in post.tags.all %}-->
        <!--<span class="label label-info"><a href="{% url 'tag' tag.pk %}">{{ tag.name }}</a></span>-->
        <!--{% endfor %}-->
    </div>
</div>
{% empty %}
暂时还没有发布的文章哦～
{% endfor %}


{% endblock %}